{% extends base.html %}

{% block edit_photo %}

{% for post in albumDB %}


<div class="container">
    <h2>Редактировать фотографию</h2>
    <form method="post" class="form-check-input">
        <p>Изменить название</p>
        <input value="{{ post[1] }}" required name="title" type="text"/>
        <br/>
        <p>Изменить описание фотографии</p>
        <textarea required type="text" name="description" rows="3">{{ post[2] }}</textarea>
        <br/>
        <button type="submit" class="btn btn-info">Изменить</button>
        <input hidden name="id_photo" value="{{ post[0] }}"/>
    </form>
</div>

{% end %}

{% end %}